html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    background-color: #f5deb3; 
    color: #55433B;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 1.4;
}

select, input, textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: 1px solid #55433B;
}

input[type=radio], input[type=checkbox] {
    margin: -.05em;
}

button, label.toggle-button {
    background-color: inherit;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: inherit;
    color: #C0564B;
    padding: 0;
    margin-right: 0.7em;
    font-size: 0.8em;
    text-transform: uppercase;
    cursor: pointer;
}

.action-button {
    font-weight: bold;
}


header.layout-header {
    background-color: #FF8B5C;
    color: white;
    display: flex;
    padding: 1vw 3vw;
}

header.layout-header > h1 {
    flex: 1;
    font-size: 1em;
    margin: 0;
    text-transform: uppercase
}

header.layout-header select {
    background-color: inherit;
    color: inherit;
}

#content {
    padding: 2vw 0;
    max-width: 39em;
}

/* List Controls */

.list-controls {
    display: flex;
}

.list-control {
    flex-grow: 1;
    padding: 0.3em;
}


/* List */

#list-container {
    margin-top: 1em;
}

ul.notes-list  {
    list-style: none;
    padding: 0;
}

ul.notes-list > li {
    border-top: 1px solid white;
    padding: 0.1em 0.5em;
}

ul.notes-list > li:last-child {
    border-bottom: 1px solid white;
}

ul.notes-list > li.finished-true {
    background-color: #FFC2B1;
}

.note-content {
    padding: 0.3em 1em;
}

.note-title-row {
    display: flex;
    justify-content: space-between;
}

.note-title-row > h1  {
    font-size: 1em;
    margin: 0;
    flex: 1 1 auto;
}

.note-title-row > .note-properties {
    padding-left: 1em;
    flex: 0 1 11em;
}

.created-date {
    font-size: 0.7em;
    padding-top: 0.7em;
}



/* Form */

#notes-form {
    display: none; 
    padding: 1em 2em;
}

#notes-form h1 {
    padding: 0.4em;
    font-size: 1em;
    margin: 0;
}

.form-row {
    display: flex; 
    border-top: 1px solid white;
    padding: 0.4em;
}

.form-row:last-child {
    border-bottom: 1px solid white;
}

.form-label {
    flex: 0 0 7em;
}

.form-value {
    flex: 1 0 auto;
}

.form-value > select, .form-value > input[type=text], .form-value > textarea {
    width: 100%
}

.form-button-row {
    padding: 0.4em;
}

/* Misc */

#top-buttons {
    padding-left: 0.5em;
}

#debug-buttons {
    margin-top: 3em;
    padding: 1.5em;
}

/* Theme */

body.black-theme {
    background-color: #55433B; 
    color: white;
}

body.black-theme select, 
body.black-theme input,
body.black-theme textarea {
    background-color: #A26952;
    border-color: #55433B;
    color: white;
}

body.black-theme button, 
body.black-theme label.toggle-button {
    color: #FF8B5C;
}

body.black-theme ul.notes-list > li {
}

body.black-theme ul.notes-list > li.finished-true {
    background-color: #402E32;
}

