/* Resets */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
/* Element styling */

body {
    background-color: whitesmoke; 
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 1.4;
}

select, input, textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: 1px solid gray;
    padding: 0.3em;
    margin: 0;
}

input[type=radio], input[type=checkbox] {
    margin: -.05em;
}

h1 {
    margin: 0 0 0.3em 0;
    font-size: 2em;
}

/* Buttons */

.button-panel {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.button {
    background-color: inherit;
    font-size: inherit;
    font-family: inherit;
    text-transform: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    white-space: nowrap;
}

.button:hover {
    color:darkblue;
}

.button + .button {
    margin-left: 0.5em;
}

.action-button + .action-button {
    margin-left: 0.7em;
}

/* button modifiers: */
.action-button {
    color: cornflowerblue;
    font-weight: bold;
}
.navigation-button {
    color: cornflowerblue;
}
.filter-button {
    color: darkslateblue;
}
/* Layout */

#layout-header {
    background-color: cornflowerblue;
    color:whitesmoke;
    display: flex;
    padding: 10px 20px;
}

#layout-header > h1 {
    flex: 1;
    font-size: 1.25em;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase
}

#layout-header select {
    background-color: inherit;
    color: inherit;
    border-color: white;
}

#content {
    margin: 10px 20px;
    max-width: 700px;
}

#layout-footer {
    margin: 7vh 20px 7vh 20px;
    padding-top: 0.7em;
    font-size: 12px;
    color: forestgreen;
    border-top: solid 1px forestgreen;
    max-width: 700px;
    text-transform: uppercase;
}

/* List */

.debug-buttons {
    margin: 1em auto 2em auto;
    font-size: 0.7em;
    color: forestgreen;
}

.list-head-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.list-head-item {
    white-space: nowrap;
    padding: 0.5em 0.1em 0.3em 0.1em;
}
.list-head-item.list-action-buttons {
    padding-left: 0.1em;
}


ul.notes-list  {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.notes-list > li {
    border-top: 1px solid silver;
    padding: 0.4em 0.2em;
    background-color: white;
}

ul.notes-list > li:last-child {
    border-bottom: 1px solid silver;
}

ul.notes-list > li.done-true {
    background-color: honeydew;
}

ul.notes-list > li.done-true .note-priority {
    border-color: transparent;
}

ul.notes-list > li.empty-list-placeholder {
    color: gray;
}

.note-content {
    padding: 0.3em 0.9em;
}

.note-title-row {
    display: flex;
    justify-content: space-between;
}

.note-title-row > h1  {
    font-size: 1em;
    margin: 0;
    flex: 1 1 auto;
}

.note-title-row > .note-priority {
    flex: 0 1 4em;
    text-align: center;
    border-width: 1px;
    border-style: solid;
}

.note-title-row > .note-due {
    padding-left: 0.4em;
    flex: 0 1 8em;
}
.created-date {
    font-size: 0.7em;
    padding-top: 0.7em;
}


/* Form */

#notes-form {
    display: none; 
}

.form-row {
    display: flex; 
    border-top: 1px solid silver;
    padding: 0.4em 0 0.2em 0.1em;
}

.form-row:last-child {
    border-bottom: 1px solid silver;
}

.form-label {
    flex: 0 0 7em;
}

.form-value {
    flex: 1 0 auto;
}

.form-value > select, .form-value > input[type=text], .form-value > textarea {
    width: 100%
}

.form-button-row {
    padding: 0.2em;
    margin-top: 1em;
    font-size: 1em;
}

label.priority-option {
    display: inline-block;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    width: 3em;
}


/* Modifiers */
.prio-1 {
    border-color: red;
}

.prio-2 {
    border-color: orange;
}

.prio-3 {
    border-color: tan;
}

.prio-4 {
    border-color: gainsboro;
}

.prio-5 {
    border-color: gainsboro;
}

/* Themes */

body.dark-theme {
    background-color: black; 
    color: white;
}

body.dark-theme select, 
body.dark-theme input,
body.dark-theme textarea {
    background-color: #333333;
    border-color: gray;
    color: white;
}

body.dark-theme #layout-header {
    background-color: black;
    color: silver;
    border-bottom: 1px solid gray;
}

body.dark-theme header.layout-header select {
    background-color: inherit;
    color: inherit;
    border-color: white;
}

body.dark-theme .button:hover {
    color: peachpuff;
}


body.dark-theme .filter-button {
    color: gray;
}

body.dark-theme ul.notes-list > li {
    background-color: black;
}
body.dark-theme ul.notes-list > li.done-true {
    color: gray;
    background-color: #222222;
}

.form-row, .form-row:last-child {
    border-color: gainsboro;
}

/* Small screens */

@media screen and (max-width: 400px) {
    .list-head-item {
        white-space: normal;
    }
}